# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Mac specific
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Distribution
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints